* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

#container {
  text-align: center;
}

.block1 {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  background-color: #9BC995;
}
.menu {
  display: flex;
  align-items: center;
  background-color: #9BC995;
}

.menu a {
  margin-left: 100px;
}

.menu * {
  display: flex;
  color: white;
  font-size: 16px;
}

.menu2 {
  display: flex;
  align-items: center;
  background-color: #9BC995;
}

.menu2 * {
  display: flex;
  margin-left: 20px;
  color: white;
  font-size: 16px;
}


/* Dropdown Button */

.dropbtn {
  background-color: #9BC995;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #754F44;
}

.block2 {
  margin: 0;
}

.block2 img {
  width: 100%;
}

.block3 {
display:flex;
}

.block3 div {
  border-left: 15px solid #9BC995;
  border-right: 15px solid #9BC995;
  border-bottom: 3px solid #9BC995;
  background-color: #9BC995;
}

.block3 p {
  font-size: 19px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: #3F3333;
  border: 2px solid white;
}
.block3 img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block4 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.block4 img {
  width: 100%;*
}

.block5 img {
  width: 100%;
}

.block6 {
}

.block6-1 {
   display:flex;
   background-color: #9BC995;
}

.block6-1 div {
  border-left: 10px solid #9BC995;
  border-right: 10px solid #9BC995;

}

.block6-1 h3 {
  background-color: white;
  color: #3F3333;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.block6-1 p {
  color: #3F3333;
  margin-top: 10px;
  font-size: 16px;
}

.block7 {
  background-color: #252728;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.block7 p {
  color: #D6D7D7;
}

.block7 a {
  color: #9BC995;
}
